
    <div id="logo">
    Foursquare Login
    </div>
    <div class="text">
    Dave does this
    </div>  
    <%= link_to("Plant Seed", {:controller => :seeds, :action => :show}, {:class => 'button', :style => 'margin-top:25px'}) %>  