
    <div id="logo">
    SeedBust
    </div>
    <div class="text">
    SeedBust lets you plant virutal seeds in the <i>real world</i>. Name your plants, send seeds to friends, and watch them spread across the world.<br>
    Welcome <%= session[:userdata]['firstname'] %><br/><%= image_tag(session[:userdata]['photo'], :options => {:width=>'50'}) %>
    </div>    
    <%= link_to "Get Seeds", {:action => :foursquare, :id => current_user.id}, {:class => 'button', :style => 'margin-top:25px'} %>
