
    <div id="logo">
    <img src="/images/logo.jpeg" style="width:225px;">
    </div>
    <div class="text">
    SeedBust lets you plant virutal seeds in the <i>real world</i>. Name your plants, send seeds to friends, and watch them spread across the world.<br>
    <% if current_user and session[:userdata] then %>
      <%# ugly ugly! %>
      <% cur_id = current_user.id %>
    Welcome <%= session[:userdata]['firstname'] %><br/><%= image_tag(session[:userdata]['photo'], :options => {:width=>'50'}) %>
    <% else %>
      <% cur_id = nil%>
    <% end %>
    </div>
    <%= link_to "Get Seeds", { :controller => :seeds,
                                :action   => :show, 
                                :id       => cur_id }, 
                              { :class => 'button', 
                                :style => 'margin-top:25px'} %>
