<h1>Seedbust</h1>
<p>Description of SeedBust. You need to login with FB connect. It's awesome</p>
<p><%= link_to("login", :action => :facebook)%></p>

<% if not current_user.nil? then %>
<p><%= current_user %></p>
<% else %>
<p>You're not logged in.</p>
<% end %>
