<h1>Seedbust</h1>
<p>Description of SeedBust. You need to login with FB connect. It's awesome</p>
<% if  session[:user] %>
<p>Welcome, <%= current_user[:fb_id] %>!</p>
<% else %>
<p><%= link_to("login", :controller=> :oauth, :action => :start)%></p>
<% end %>
