
    
    <div class="title">
    Choose a seed to plant!
    </div>
    <center style="padding: 15px;">
      <table><tr>
        <% count = 0 %>
      <% @seeds.each do |seed| %>
        <% count = count + 1 %>
        <td><%= link_to(image_tag(seed.image, :style => "border:0px"), {:action => :position, :id => seed.id} ) %></td>
        <% if count == 2 then %></tr><tr><% end %>
      <% end %>
      </tr></table>
     </center>
  </body>
</html>
