
  <script>
  function submit() {
    if (document.getElementById('name').value) {
      
      if (document.getElementById('share').checked) {  
        //take to share page
        var url = 'http://m.facebook.com/connect/prompt_feed.php?api_key=3bf44bb266e9d29f92d71fb103955006&attachment={'+
        '"name":"SeedBust",'+
        '"caption":"I+just+planted+a+seed+named+'+ document.getElementById('name').value +'",'+
        '"description":"Take+a+seed+and+plant+it+to+show+your+support.",'+
        '"href":"http%3A%2F%2F174.143.153.39%2Fseedbust%2Findex.html",'+
        '"media":[{"type":"image","src":"http%3A%2F%2Fimg363.imageshack.us%2Fimg363%2F9931%2F9122plantcartoonls8.jpg","href":"http%3A%2F%2F174.143.153.39%2Fseedbust%2Findex.html"}]}'+
        '&preview=1'+
        '&user_message_prompt=Tell+the+world+about+your+plant!'+
        '&callback=http%3A%2F%2F174.143.153.39%2Fseedbust%2Fseeds.html%3Fname%3D'+ document.getElementById('name').value+
        '&cancel=http%3A%2F%2F174.143.153.39%2Fseedbust%2Fseeds.html%3Fname%3D'+ document.getElementById('name').value+
        '&action_links=[{%22text%22%3A%22Get+My+Seed%22%2C%22href%22%3A%22http%3A%2F%2F174.143.153.39%2Fseedbust%2Findex.html&display=wap&r70f6588d';
        window.location = url;
      
      } else {
        //take to seeds page
        window.location = 'http://seedbust.heroku.com/plants/seeds.html?name='+ document.getElementById('name').value;
      }
    } else {
      alert('You need to enter a name!');
    }
  }
  </script>
    
    
    <div class="title">
    Name your plant!
    </div>  
    <center>
      <img style="height:200px;padding:15px 0px 0px 0px;" src="/images/<%= @plant.type_id %>.jpg"/>
    </center>
    <div class="text">
    This name passes onto future generations of this plant.
    </div><center>
    <form name="update_name" action="/plants/update_name">
      <input type="text" name="name" value="">
      <input type="hidden" name="id" value="<%= @plant.id %>">
      <a href="#" onclick="document.update_name.submit()" style="margin-top:25px;" class="button">
      Name It!
      </a>
      <center style="padding-top:15px;" >
        <input name="share" type="checkbox" checked='true'>Share with Friends
      </center>
    </form>
    </center>
        
