 <div class="title">
  <%= session[:plant].name%> just grew 12 seeds!
  
  </div>
      <center>
      <img style="height:200px;padding:25px;" src="http://greenwishjar.files.wordpress.com/2009/04/small-web-plant.jpg"/>
    </center>
    <center>
    <a style="display:inline-block;" href="send.html" style="margin-top:25px;"class="button">
    Send Seeds to Friends
    </a>
    <a style="display:inline-block;background-color:#ccc;" href="done.html" style="margin-top:25px;"class="button">
    Skip
    </a>    
    </center> 
  
  
