 <div class="title">
  <%= session[:plant].name%> just grew 12 seeds!
  
  </div>
  <center>
    <img style="height:200px;padding:25px;" src="http://greenwishjar.files.wordpress.com/2009/04/small-web-plant.jpg"/>
  </center> 
  <a style="width:70%;display:inline-block;" href="foursquare" style="margin-top:25px;"class="button">
  Send Seeds to Friends
  </a>
  <a style="width:15%;display:inline-block;background-color:#ccc;" href="/plants/thanks" style="margin-top:25px;"class="button">
  Skip
  </a>