  
    <script type="text/javascript">
    function getPosition() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success, error);
      } else {
        error('not supported');
      }
    }
    function success(position) {
      window.location = "/plant/harvest?lat="+position.coords.latitude+"&lon="+position.coords.longitude;
    }
    function error(msg) {
      alert("Sorry, we need your location, and we can't find it.");
    }
    </script>


    <div class="title">
    Thanks
    </div>
    <div class="text">
    
    Come back in 24 hours when your plant has another seed.<br><br>Plant it at your favorite places!
    </div>  
    
    <div style="font-weight:bold; padding:30px 0px 10px 0px;" class="text">
    Top Teams
    </div>  
    <center>
    <table class="leaderboard">  
    <% leaders = Plant.leaders 
     leaders.each do |leader| %>
     <% usr = User.find_by_id(leader["origin_user_id"]) %>
      <% if usr %>
       <tr class="leader">
         <td class="leader-image"><%= image_tag(usr.photo, :style => "width:30px;margin-right:10px") if usr.photo %></td>
         <td class="leader-name"><%= usr.fb_first_name %> <%= usr.fb_last_name %></td>
          <td class="leader-count"><%#= Plant.count(:all, :conditions => 'origin_user_id = #{leader["origin_user_id"]}')%></td>
      <% end %>
     <% end %>
    </table>
    <center>
      <div style="font-weight:bold; padding:10px 0px 10px 0px;" class="text">
        <a href="#" onclick="getPosition()" style=""class="button">
          Find Nearby Plants
        </a>
      </div>  
    </center>
    <%= link_to("Plant your own seed!", "/seeds/show/")%>
    
    </center>
