    <div class="title">
    Thanks
    </div>
    <div class="text">
    <br><br>
    Come back in 24 hours when your plant has another seed.<br><br>Plant it at your favorite places!
    </div>  
    
    <div style="font-weight:bold; padding:30px 0px 10px 0px;" class="text">
    Top Teams
    </div>  
    <table class="leaderboard">
      <tr class="leader">
        <td class="leader-image"><img src="http://seedbust.heroku.com/images/maple.jpg"></td>
        <td class="leader-name">Team Alpha</td>
        <td class="leader-count">10,283</td>
      </tr>
            <tr class="leader">
        <td class="leader-image"><img src="http://seedbust.heroku.com/images/maple.jpg"></td>
        <td class="leader-name">Gavin Newsom for Governor</td>
        <td class="leader-count">8,374</td>
      </tr>
            <tr class="leader">
        <td class="leader-image"><img src="http://seedbust.heroku.com/images/maple.jpg"></td>
        <td class="leader-name">Doing Stuff</td>
        <td class="leader-count">4,354</td>
      </tr>
    </table>
<%= link_to("Home", "/")%>
