<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SeedBust</title>
</head>

<body>
  <div style="width: 320px; height:500px; border: 2px solid; padding: 12px;margin:auto">
<div class="login-state">
    <% if current_user then %>
    <%= link_to "logout", :controller => :users, :action => :logout %>
    <% end %>
</div>
 <%= yield %>
 </div>
</body>
</html>
